.calculator-container {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 32px;
}

.calculator-container h1 {
  margin-left: 12px;
  font-size: 32px;
}

.calculator-section {
  margin: auto;
  width: 502px;
}

.output-section {
  background-color: #3c6f7a;
  border: 1px solid #dadada;
  text-align: right;
  font-size: 32px;
  padding: 11px;
}

.digits {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.buttons {
  background-color: #e0e0e0;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #d4d2d2;
  font-weight: bold;
}

.buttons:hover {
  background-color: #efebeb;
}

.operator-signs {
  background-color: #3c6f7a;
  color: #fff;
}

.operator-signs:hover {
  background-color: #3c6f7a;
}

.bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
