.calculator-container {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 32px;
}

.calculator-container h1 {
  margin-left: 12px;
  font-size: 32px;
}
.calculator-section {
  width: 505px;
  margin: auto;
}

.output-section {
  background-color: #869cff;
  border: 1px solid #dadada;
  /* background-color: #858694; */
  text-align: right;
  font-size: 32px;
  padding: 11px;
  /* color: #fff; */
}

.digits {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.buttons {
  background-color: #e0e0e0;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #d4d2d2;
  font-weight: bold;
}

.buttons:hover {
  background-color: #efebeb;
}

.operator-signs {
  /* background-color: #f5913e; */
  background-color: #6b6bf7;
  color: #fff;
}

.operator-signs:hover {
  /* background-color: #f5913e; */
  background-color: #5e5ef4;
}

.bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
